<?php 
    $this->load->view('head/librerias_view'); 
    $this->load->view('header/header_view');  
?>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Seguimiento y movilidad</a>
            </div>

            <div class="header-right">

                <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
                <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
			<div class="row">
             <div class="col-md-12">
               <h1 class="page-head-line">Actualizar convocatoria</h1><br>
             </div>       
      	</div>
                
      <div class="row">
       
       <div class="panel panel-default">
			<div class="panel-heading">
				Actualizacion de convocatorias
			</div> 	
			<div class="panel-body">
				<?= form_open('adm/actualizarConvocatoria'); ?>
					<div class="form-group">
						<label>Nombre de convocatoria:</label>
                        <input type="hidden" name="id" value="<?= $convocatoria->result()[0]->idconv;?>">
                        <?php 
                        $name = array(
                            'required' => true,
                            'name'  => 'name',
                            'id'    => 'txtNombre',
                            'class' => 'form-control',
                            'type'  => 'text',
                            'value' => $convocatoria->result()[0]->nombre
                        );
                        echo form_input($name);?>
						<br>	

                        <table width="100%">
                        <tr>
                        <td width="50%">
						<label>Área de interes:</label>
                        <select name="area" class="form-control">
                        <?php foreach ($area as $row) { ?>
                            <option> <?= $row->nombreAreaFormacion;?> </option>;
                        <?php } ?>
                        </select>
                        </td>
                        <td width="50%" align="center">
                        <br>
                        <a href="<?= base_url()?>adm/agregarArea" target="_blank">ADD</a>
                        </td>
                        </tr>
                        </table>
						<br>

                        <table width="100%">
                        <tr>
                        <td width="50%">
						<label>País:</label>
                        <select name="pais" class="form-control">
                        <?php foreach ($lugar as $row) { ?>
                            <option> <?= $row->pais;?> </option>;
                        <?php } ?>
                        </select>			
						</td>
                        <td width="50%" align="center">
                        <br>
                        <a href="<?= base_url()?>adm/agregarPais" target="_blank">ADD</a>
                        </td>
                        </tr>
                        </table>
                        <br>

						<table width="100%">
                        <tr>
                        <td width="50%">
						<label>Ciudad:</label>
                        <select name="ciudad" class="form-control">
                        <?php foreach ($ciudad as $row) { ?>
                            <option> <?= $row->ciudad;?> </option>;
                        <?php } ?>
                        </select>
                        </td>
                        <td width="50%" align="center">
                        <br>
                        <a href="<?= base_url()?>adm/agregarCiudad" target="_blank">ADD</a>
                        </td>
                        </tr>
                        </table>

						<br>
                        <table width="100%">
                        <tr>
                        <td width="50%">
						<label>Grado:</label>
                        <select name="grado" class="form-control">
                        <?php foreach ($grado as $row) { ?>
                            <option> <?= $row->nombre;?> </option>;
                        <?php } ?>
                        </select>
                        </td>
                        <td width="50%" align="center">
                        <br>
                        <a href="<?= base_url()?>adm/agregarGrado" target="_blank">ADD</a>
                        </td>
                        </tr>
                        </table>
						
                        <br>
						<label>Promedio:</label>
						<input type="number" class="form-control" name="prom" 
                        step="0.1" min="6" max="10" value="<?=$convocatoria->result()[0]->prom?>"required>    			
						<br>

						<table width="100%">
						<tr>
						<td width="50%">
						<label>Fecha inicial:</label>
						<input type="date" class="form-control" name="fechaI" value="<?=$convocatoria->result()[0]->fi?>" required>
						</td>

						<td width="50%">
						<label>Fecha Final:</label>
						<input type="date" class="form-control" name="fechaF" value="<?=$convocatoria->result()[0]->ff?>" required>
						</td>
						</tr>
						</table>
						<br>

                        <table width="100%">
                        <tr>
                        <td width="50%">
						<label>Universidad:</label>
						<select name="universidad" class="form-control">
						<?php foreach ($uni as $row) { ?>
                            <option> <?= $row->nombre;?> </option>;
                        <?php } ?>
						</select>
                        </td>
                        <td width="50%" align="center">
                        <br>
                        <a href="<?= base_url()?>adm/agregarUniversidad" target="_blank">ADD</a>
                        </td>
                        </tr>
                        </table>

						<br>
						<label>Descripción:</label>
                        <?php
                        $desc = array(
                            'required' => true,
                            'name'  => 'desc',
                            'id'    => 'txtDesc',
                            'rows'  => '5', 
                            'cols'  => '40',
                            'class' => 'form-control',
                            'value' => $convocatoria->result()[0]->desc
                        );
                        echo form_textarea($desc);?>					
						<br>
						<button class="btn btn-primary">
							Actualizar convocatoria						
						</button>
					</div> 

				<?= form_close();?>
                <a href="<?=base_url()?>adm/eliminar/<?= $convocatoria->result()[0]->idconv;?>">                           
                    <button class="btn btn-danger" onclick="return confirm('Desea Eliminar');">Eliminar</button>
                </a>                        
			</div>			      
       </div>     
                
      </div>
          
         <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2014 YourCompany | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="<?= base_url()?>recursos/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="<?= base_url()?>recursos/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="<?= base_url()?>recursos/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="<?= base_url()?>recursos/js/custom.js"></script>
    


</body>
</html>
